{% extends 'base_layout.html' %}
{% block page_title %}Личный кабинет{% endblock %}

{% block content %}
<main>
    <div class="container-sm border">
        {% include 'includes/manager_cresentials.html' %}
        <div class="row border shadow-lg">
            <ul class="nav">
                <li class="nav-item" role="presentation">
                    <a href="{{ url_for('cabinet_bp.admin_panel')}}" class="btn btn-primary">Менеджеры</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="{{ url_for('cabinet_bp.manager_stats', user_id=2)}}" class="btn btn-primary">Отчеты</a>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-12 py-2 mb-5">
                {% block tabcontent %}             
                {% endblock %}
            </div>
        </div>
    </div>
</main>
{% include 'includes/flash.html' %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    window.onload = (event) => {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        });
        toastList.forEach((element) => {
            element.show()
        });
    }
</script>
{% endblock %}