{% extends 'base_layout.html' %}
{% from 'includes/macros.html' import menu_item with context %}
{% from 'includes/macros.html' import item_tab with context %}
{% block page_title %}Личный кабинет{% endblock %}

{% block content %}
<main>
    <div class="container-sm border">
        {% include 'includes/manager_cresentials.html' %}
        <div class="row border shadow-lg">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                {{ menu_item(name='Мой профиль', control='profile', active='active') }}
                {{ menu_item(name='Мой профиль', control='profile') }}
            </ul>
        </div>
        <div class="row">
            <div class="col-12 tab-content py-2 mb-5" id="myTabContent">
                {{ item_tab(control='profile', active='active') }}
            </div>
        </div>
    </div>
</main>
{% include 'includes/flash.html' %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    window.onload = (event) => {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        });
        toastList.forEach((element) => {
            element.show()
        });
    }
</script>
{% endblock %}