<div class="row p-3 justify-content-center">
    <div class="col-lg-8">
        <h4>Добавление задачи на сегодня</h4>

        <form action="{{ url_for('cabinet_bp.add_task') }}" method="post" name="form_task">
            {{ form_task.csrf_token }}
            <div class="mb-3">
                {{ form_task.task_title.label()}}
                {{ form_task.task_title(class="form-control") }}
                <div id="task-title-help" class="form-text">*Название не
                    должно быть
                    длинее 15
                    символов</div>
            </div>
            <div class="mb-3">
                {{ form_task.task_desc.label()}}
                {{ form_task.task_desc(class="form-control") }}
                <style>
                    .ck-editor__editable_inline {
                        min-height: 200px;
                    }
                </style>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </form>
    </div>
</div>